*{
    margin: 0;
    padding: 0;
}

.Main{
    height: 100vh;
    width: 101vw;
    background: linear-gradient(-45deg, rgb(0, 136, 255), rgb(228, 79, 221));
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

.left{
    height: 100%;
    flex: 5;
    /* border: 1px solid black; */
    background-color: rgba(255, 255, 255, 0.36);
    backdrop-filter: blur(21px);
    border-radius: 10px;
}

.right{
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.right .top{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.right .top button{

}

.right  .top :first-child{
    margin-right: 5px;
}

.right .top .chat{
   flex: 1;
}

.right .top .chat .chatbtn{
    width: 100%;
    height: 100%;
    font-size: larger;
    font-weight: bolder;
    border: none;
    background: rgba(255, 255, 255, 0.66);
    border-radius: 7px;
    margin: 5px;
    backdrop-filter: blur(10px);
    color: rgb(76, 76, 76);
    transition: 1s;
 }

 .right .top .people{
    flex: 1;
}

.right .top .people .peoplebtn{
    height: 100%;
    width: 100%;
    font-size: larger;
    font-weight: bolder;
    border: none;
    background: rgba(255, 255, 255, 0.66);
    border-radius: 7px;
    margin: 5px;
    backdrop-filter: blur(10px);
    color: rgb(76, 76, 76);
    transition: 1s;
}

.is-active{
    width: 100%;
    height: 100%;
    font-size: larger;
    font-weight: bolder;
    border: none;
    background: rgba(39, 172, 255, 0.66);
    border-radius: 7px;
    margin: 5px;
    backdrop-filter: blur(10px);
    color: rgb(230, 230, 230);
    transition: 1s;
}
.right .bottom{
    width: 100%;
    flex: 9;
}

.bottom{
    position: relative;
    background-color: rgba(255, 255, 255, 0.306);
    margin: 10px 2px;
    border-radius: 10px;
    color: white;
    font-size: small;
}

.bottom .person{
    background-color: rgba(255, 250, 250, 0.306);
    padding: 10px;
    margin: 8px 3px;
    border-radius: 7px;
    font-size: larger;
}

.bottom .text{
    background-color: rgba(255, 250, 250, 0.251);
    padding: 10px;
    margin: 8px 3px;
    border-radius: 7px;
}

.bottom .text .title{
    font-weight: bolder;
}

.messageform{
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

#messagetext{
    padding: 7px;
    border-radius: 5px;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.313);
    color: white;
    border: none;
    margin-left: 10px;
}

#messagebtn{
     background-color: rgb(47, 255, 113);
     padding: 7px;
     border: none;
     border-radius: 3px;
     font-size: large;
     margin-left: 5px;
     color: white;
}

#messagebtn:hover{
    background-color: rgb(5, 187, 5);
}

#me{

}

#you{
    
}


@media (max-width:1030px) {
    .container{
        flex-direction: column;
    }
}