*{
    margin: 0;
    padding: 0;
}

.Main{
    height: 100vh;
    width: 101vw;
    background: linear-gradient(45deg, rgb(0, 136, 233), rgb(247, 9, 108));
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

.left{
    height: 100%;
    flex: 5;
    /* border: 1px solid black; */
    background-color: rgba(255, 255, 255, 0.36);
    backdrop-filter: blur(21px);
    border-radius: 10px;
}

.right{
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.right .top{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.right .top button{
    font-size: larger;
    font-weight: bolder;
    border: none;
    background: rgba(255, 255, 255, 0.66);
    border-radius: 7px;
    margin: 5px;
    backdrop-filter: blur(10px);
    color: rgb(76, 76, 76);
    transition: 1s;
}

.right .top button:hover{
    background-color: rgba(255, 255, 255, 0.313);
}

.right  .top :first-child{
    margin-right: 5px;
}

.right .top .chat{
   flex: 1;
}

.right .top .chat #chat{
    width: 100%;
    height: 100%;
 }

 .right .top .people{
    flex: 1;
}

.right .top .people #people{
    height: 100%;
    width: 100%;
}

.right .bottom{
    width: 100%;
    flex: 9;
}

.bottom{
    background-color: rgba(255, 255, 255, 0.306);
    margin: 10px 2px;
    border-radius: 10px;
    color: white;
    font-size: small;
}

.bottom .person{
    background-color: rgba(255, 250, 250, 0.306);
    padding: 10px;
    margin: 8px 3px;
    border-radius: 7px;
    font-size: larger;
}

.bottom .text{
    background-color: rgba(255, 250, 250, 0.251);
    padding: 10px;
    margin: 8px 3px;
    border-radius: 7px;
}

.bottom .text .title{
    font-weight: bolder;
}

#me{

}

#you{
    
}